@tailwind base;
@tailwind components;
@tailwind utilities;

html { 
  scroll-behavior: smooth; 
}

body { 
  -webkit-font-smoothing: antialiased; 
  -moz-osx-font-smoothing: grayscale; 
}

/* Custom scrollbar for a technical look */
::-webkit-scrollbar { 
  width: 8px; 
}

::-webkit-scrollbar-track { 
  background: #f1f1f1; 
}

::-webkit-scrollbar-thumb { 
  background: #183141; 
  border-radius: 4px; 
}

::-webkit-scrollbar-thumb:hover { 
  background: #0f202b; 
}